{
  // "presets": ["@babel/preset-env"]
  // "presets": [["@babel/preset-env", { "debug": true }]]
  // "presets": [["@babel/preset-env", { "debug": true, "targets": "defaults" }]]
  // "plugins": ["@babel/plugin-transform-arrow-functions"]
}
